.App {
  text-align: center;
}

.division{
  border: 2px solid red;
}


/* .row{
  border: 1.5px solid black;
} */

.col1, .col2, .col3, .col4{
  border: 1px solid rgb(11, 11, 10);
}

.col1{
   background-color: rgb(215, 234, 241);
}

.col2{
   background-color: rgb(128, 131, 132);
}

.col3{
  background-color: rgb(215, 234, 241);
}

.col4{
  background-color: rgb(128, 131, 132);
}